* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

header img, footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phone {
    display: none;
}

@media screen and (max-width: 550px) {
    .desktop {
        display: none;
    }

    .phone {
        display: block;
    }
}


.utopie-preview, .play-btn, .close-btn {
    cursor: pointer;
}

.hide {
    display: none;
}

.project-first {
    animation: imagefade ease-in-out infinite 15s;
}

.play-btn {
    animation: btnfade ease-in-out infinite 8s;
}

@keyframes imagefade {
    0% {
        opacity: 1;
    }
    45% {
        opacity:1;
      }
    50% {
        opacity:0;
    }
    95% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes btnfade {
    0% {
        opacity: 1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
