
* {
    margin: 0;
    padding: 0;
}

/* section styling */
section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* border: 2px solid salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the map */

#map > .img {
    height: 80vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

.img > img {
    height: 100%;
}



/* culture and nature */

.wrapper {
    /* border: 2px solid seagreen; */
    width: 80vw;
}

.carousel {
    /* border: 2px solid sandybrown; */
    display: flex;
    overflow-x: scroll;
}

.carousel > li {
    list-style: none;
    margin-left: 30px;
}

.carousel > li:first-child {
    margin-left: 0;
}

article {
    width: 300px;
    height: 440px;
    position: relative;
}

article > img {
    width: 100%;
    padding: 0;
}

article > h2 {
    height: 2em;
    margin-bottom: 0.4em;
}

article > button {
    display: block;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

article > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}


/* hide scrollbars for the map and for sections */
/* for Chrome, Safari and Opera */
.carousel::-webkit-scrollbar, .img::-webkit-scrollbar {
    display: none;
  }
  
  /* for IE, Edge and Firefox */
  .carousel, .img {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  

/* for now to format the layout */
.description, header {
    display: none;
}

nav {
    position: fixed;
    z-index: 9;
}