
* {
    margin: 0;
    padding: 0;
    color: rgba(44, 76, 73, 1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* navigation - mobile */

nav {
    z-index: 99;
    position: fixed;
    top: 6vh;
}

nav > .navLinks {
    list-style: none;
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

nav a[href="#map"]:hover {
    color: rgba(239, 210, 199, 1);
}

nav a[href="#culture"]:hover {
    color: rgb(175, 102, 34);
}

nav a[href="#nature"]:hover {
    color: rgb(66, 155, 138);
}

#navOpen {
    display: none;
}

/* mobile navigation */

@media screen and (max-width: 600px) {
    
    nav {
        height: 100vh;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    nav > .navLinks {
        width: 0;
        display: none;
    }

    .navBtn {
        align-self: flex-end;
    }

    #navOpen {
        display: block;
        position: absolute;
        top: 5vh;
        right: calc(7.5vw - .8ch);
        font-size: 2em;
    }

    /* navigation overlay opened on click */

    .open {
        width: 100vw;
        background: rgba(44, 76, 73, 0.95);
        transition: 0.5s;
    }


    .open > .navLinks {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .navLinks a {
        color: rgba(239, 210, 199, .8);
    }

}


/* section styling */

main > section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the map */

#map > .img {
    height: 85vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

.img > img {
    height: 100%;
}


/* culture and nature */

.wrapper {
    position: relative;
    width: 100vw;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 70vw;
    margin: auto;
}

.carousel > li {
    list-style: none;
    margin-left: 30px;
}

.carousel > li:first-child {
    margin-left: 0;
}

article {
    width: 245px;
    height: 390px;
    position: relative;
}

article > img {
    width: 100%;
}

article > h2 {
    height: 2em;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

article > p, article > a {
    line-height: 1em;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 80%;
}

article > button {
    display: block;
    margin-top: 0.8em;
}

article > button, .slider, #navOpen {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

article > a {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 0.5em;
}

article .icon {
    height: 18px;
    position: relative;
    top: 5px;
    margin-right: 8px;
    filter: invert(25%) sepia(22%) saturate(603%) hue-rotate(125deg) brightness(99%) contrast(96%);
}

.wrapper > .slider {
    position: absolute;
    font-size: 4em;
    font-family: monospace;
    z-index: 1;
    color: rgba(239, 210, 199, 0.5);
    top: 1em;
}

.slider:hover {
    color: rgba(239, 210, 199, 1);
    /* text-shadow: 0 0 5px rgba(239, 210, 199, 1); */
}


.wrapper > .btnLeft {
    left: 7.5vw;
}

.wrapper > .btnRight {
    right: 7.5vw;
}



/* hide scrollbars for the map and for sections */
/* Chrome, Safari and Opera */
.carousel::-webkit-scrollbar, .img::-webkit-scrollbar {
    display: none;
  }
  
  /* IE, Edge and Firefox */
  .carousel, .img {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* for now to format the layout */
.description, header {
    display: none;
}

