
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color: rgba(44, 76, 73, 0.9);
}

/* layout, font-family and desktop font-sizes */

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-size: 3.5rem;
}
/*
h2 {
    font-size: 3rem;
}
*/
p, button, a {
    font-size: 1.8rem;
}

button, a {
    font-weight: bold;
}

span {
    cursor: pointer;    
}

button {
    cursor: pointer;
    background: transparent;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* section styling - map, culture, nature*/

main > section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    width: 100vw;
    background-color: rgba(239, 210, 199, 0.5);
}

header {
    height: 100vh;
    display: none;
}

footer {
    height: 50vh;
}

/* mobile font-sizes*/
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.4rem;  /*  2.1 rem */
    }

    h2 {
        font-size: 2.4rem;
        line-height: 1.2;
        /* use slighter weight, formating (italics) or letter spacing */
    }

    p, button, a {
        font-size: 1.4rem;
    }
    
}

/* desctop navigation */

nav {
    z-index: 99;
    position: fixed;
    top: 6vh;
}

nav > .navLinks {
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

nav a[href="#map"]:hover {
    color: rgb(238, 188, 169);
}

nav a[href="#culture"]:hover {
    color: rgb(203, 119, 41);
}

nav a[href="#nature"]:hover {
    color: rgb(61, 180, 158);
}

#navOpen {
    display: none;
}

nav .active[href="#map"] {
    color: rgb(238, 188, 169);
}

nav .active[href="#culture"] {
    color: rgba(203, 119, 41, .8);
}

nav .active[href="#nature"] {
    color: rgba(61, 180, 158, .8);
}



/* mobile navigation */

@media screen and (max-width: 600px) {

    #nav:not(.open) .active {
        display: block;
        position: fixed;
        width: fit-content;
        height: fit-content;
        top: 2.8rem;
        left: 3rem;
        z-index: 99;
        font-size: 3.5rem;
        cursor: default;
        transition: 0s;
    }
    
    nav {
        height: 100vh;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navLinks a {
        display: none;
    }

    

    .navBtn {
        align-self: flex-end;
    }

    #navOpen {
        display: block;
        position: fixed;
        top: 3rem;
        right: 3rem;
        font-size: 4rem;
        color: rgb(238, 188, 169);
    }

    #navOpen:hover {
        color: rgb(240, 213, 204);
    }

    /* navigation overlay opened on click */

    .open {
        width: 100vw;
        background: rgba(44, 76, 73, 0.99);
        transition: 0.5s;
        position: fixed;
    }

    .open a {
        display: block;
    }

    .open > .navLinks {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    } 


    .open .navLinks a {
        color: rgba(240, 213, 204, .8);
        font-size: 1.8rem;
    }

}



/* the map */

#map > .map {
    height: 95vh;
    width: 169vh;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

#map .map-img, #map .map-points {
    height: 100%;
    width: inherit;
    position: absolute;
}


.map-img img {
    height: 100%;
    opacity: 90%;
}

.map-points {
    z-index: 10;
}

.map-points > div {
    cursor: pointer;
    width: 3.35vh;
    height: 3.35vh;
    border-radius: 50%;
    position: relative;
}

.map-points > .culture:hover, .map-points > .culture.active {
    background-color: rgb(203, 119, 41);
    box-shadow: 0 0 20px rgb(203, 119, 41);
}

.map-points > .nature:hover, .map-points > .nature.active {
    background-color: rgb(61, 180, 158);
    box-shadow: 0 0 20px rgb(61, 180, 158);
}



.map-points > .item-c-1 {
    top: 41.7%;
    left: 39.487%;
}

.map-points > .item-c-2 {
    top: 29.97%;
    left: 52.455%;
}

.map-points > .item-c-3 {
    top: 6.1%;
    left: 22.2%;
}

.map-points > .item-c-4 {
    top: 48%;
    left: 5.57%;
}

.map-points > .item-n-1 {
    top: 33%;
    left: 7.2%;
}

.map-points > .item-n-2 {
    top: 22.7%;
    left: 41.55%;
}
 


/* culture and nature */

.slider-wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.slider-carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: auto;
    scroll-snap-type: x mandatory;
}

@media only screen and (orientation: landscape) {
    .slider-carousel, article {
        width: 70vw;
        height: 35vw;
    }

    @media only screen and (max-height: 40vw) {
        .slider-carousel, article {
            width: 140vh;
            height: 70vh;
        }
    }

    @media only screen and (max-width: 800px) {
        .slider-carousel, article {
            height: 40vw;
        }

        nav > .navLinks, .slider-carousel, article {
            width: 80vw;
        }
    }
}



article {
    position: relative;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

article div {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.article-img > img {
    height: 100%;
    width: auto;
}

.article-text {
    padding: 1rem;
}

#culture .article-text {
    background-color: rgba(44, 76, 73, 0.7);
}

.slider-carousel.nature li:first-child {
    background-color: rgba(151, 76, 61, .8);
}

.slider-carousel.nature li:nth-child(2) {
    background-color: rgba(94, 67, 55, .8);
}

.article-text h2, .article-text p, .article-text button {
    color: white;
}

.article-text p {
    opacity: 80%;
}

@media only screen and (orientation: portrait) {
    .slider-carousel, article {
        width: 35vh;
        height: 70vh;
    }

    article {
        flex-direction: column;
    }
    article .article-text {
        width: 100%;
        height: 60%;
    }
    
    article .article-img {
        width: 100%;
        height: 50%;
    }
}


article .icon {
    height: 18px;
    position: relative;
    top: 5px;
    margin-right: 8px;
    filter: invert(25%) sepia(22%) saturate(603%) hue-rotate(125deg) brightness(99%) contrast(96%);
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.slider-nav .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(240, 213, 204, 0.9);
}

.slider-nav .active, .dot:hover {
    background-color: rgb(238, 188, 169);
}

.active {
    transition: .5s;
}



/* map: #article-popup*/
#article-popup {
    position: fixed;
    background: rgba(44, 76, 73, 0.95);
    z-index: 99;
    width: 40vh;
    height: 55vh;
    z-index: 999;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(44, 76, 73, 0.2);
}

#article-popup .article-img {
    width: 40vh;
    height: 40vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#article-popup .article-img img{
    height: 40vh;
    width: auto;
    opacity: 80%;
    z-index: 100;
    
}

#article-popup h2, #article-popup button {
    color: rgb(240, 213, 204);
}

#article-popup button:hover {
    color: rgb(238, 188, 169);
}

#article-popup h2 {
    position: absolute;
    bottom: 4.5rem;
    left: 1rem;
    right: 1rem;
    line-height: 1;
    font-weight: 100;
    font-stretch: ultra-expanded;
    z-index: 101;
}

#article-popup button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: 100;
    opacity: 80%;
}

#popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(44, 76, 73, 0.05);
    z-index: 998;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #article-popup {
        position: fixed;
        top: 22.5vh;
        left: calc((100vw - 40vh)/2);
    }
}

/*
#article-popup > .btn-close-popup {
    display: block;
} */

/* expanded article on 'show more'*/

#expandedArticle {
    width: 40vw;
    height: fit-content;
    margin: 0;
    z-index: 999;
    background: white;
    padding: 5vw;
    position: absolute;
}

#expandedArticle > h2 {
    margin-bottom: 0;
}

#expandedArticle > .description, #expandedArticle > .closeBtn, .showMore {
    display: block;
}

#expandedArticle > .showMore {
    display: none;
}

@media screen and (max-width: 600px) {
    #expandedArticle {
        width: 90vw;
    }
}

/* slider buttons: */

.wrapper > .slider {
    position: absolute;
    z-index: 1;
    color: rgba(239, 210, 199, 0.5);
    top: 1rem;
}

.slider:hover {
    color: rgba(239, 210, 199, 1);
    /* text-shadow: 0 0 5px rgba(239, 210, 199, 1); */
}


.wrapper > .btnLeft {
    left: 7.5vw;
}

.wrapper > .btnRight {
    right: 7.5vw;
}



/* hide scrollbars for the map and for sections */
/* Chrome, Safari and Opera */
.slider-carousel::-webkit-scrollbar, .map::-webkit-scrollbar {
    display: none;
  }
  
  /* IE, Edge and Firefox */
  .slider-carousel, .map {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* for now to format the layout */
.description {
    display: none;
}

